@model (string,string,string)

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>@Model.Item1</h2>
                        <p>@Model.Item2 <span>-</span> @Model.Item3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>